*.gz
data/System/
lib/Filesys/Virtual/
lib/Foswiki/Plugins/FilesysVirtualPlugin/
lib/Foswiki/Plugins/FilesysVirtualPlugin/Views/
lib/Foswiki/Plugins/
lib/Foswiki/Plugins/FilesysVirtualPlugin/Views/html.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin.pm
data/System/FilesysVirtualPlugin.txt
lib/Filesys/Virtual/Foswiki.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin/Views/json.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin/Permissions.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin/Config.spec
lib/Filesys/Virtual/Locks.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin/Views/txt.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin/Views/perl.pm
lib/Foswiki/Plugins/FilesysVirtualPlugin/Views/raw.pm
lib/Filesys/Virtual/PlainPlusAttrs.pm
